### Import Dataset and Libs

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Groceries_dataset.csv')
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

### Data Preparation

In [11]:
# prepare transaction IDs
df['transactionId'] = df['Member_number'].astype(str)+'_'+df['Date'].astype(str)
df = df.drop('Member_number', axis='columns')
df = df.drop('Date', axis='columns')
df.head()

    itemDescription    transactionId
0    tropical fruit  1808_21-07-2015
1        whole milk  2552_05-01-2015
2         pip fruit  2300_19-09-2015
3  other vegetables  1187_12-12-2015
4        whole milk  3037_01-02-2015

#### Generate single transactions

In [14]:
groceries_single = pd.crosstab(df['transactionId'], df['itemDescription'])
groceries_single.head()

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
transactionId,,,,,,,,,,,,,,,,,,,,,
1000_15-03-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1000_24-06-2014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1000_24-07-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000_25-11-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000_27-05-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#
def encode(item_freq):
    res = 0
    if item_freq > 0:
        res = 1
    return res
    
basket_input = df2.applymap(encode)